* {
   margin: 0;
   padding: 0;
   outline: 0;
   text-decoration: none;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   list-style: none;
   letter-spacing: 2px;
}

section#sidebar .sidenav {
   background-color: rgba(0,0,0,.9);
   height: 100%;
   width: 20vw;
   left: -20vw;
   position: fixed;
   transition: all .5s ease;
   z-index: 1;
}

section#sidebar .sidenav h1 {
   color: #fff;
   font-size: 2vw;
   line-height: 8vw;
   text-align: center;
   user-select: none;
}

section#sidebar .sidenav li {
   border-top: 1px solid rgba(255,255,255,.1);
   border-bottom: 1px solid black;
}

section#sidebar .sidenav li a {
   color: #fff;
   display: block;
   line-height: 8vh;
   font-size: 1.3vw;
   padding-left: 3vw;
   transition: all .3s ease;
}

/* section#sidebar .sidenav li a.active {
   padding-left: 4vw;
} */

section#sidebar .sidenav li a:hover, section#sidebar .sidenav li a.active {
   padding-left: 4vw;
}

section#sidebar .sidenav li a i {
   margin-right: 2vw;
}

section#sidebar #check {
   display: none;
}

section#sidebar #open {
   top: 5vh;
   left: 5vw;
   padding: 4px 10px;
   cursor: pointer;
   color: #fff;
   font-size: 2vw;
   position: fixed;
   background-color: black;
   transition: all .5s ease;
}

section#sidebar #cancel {
   top: 5.3vh;
   left: -21vw;
   padding: 4px 8px;
   cursor: pointer;
   color: #fff;
   font-size: 1.5vw;
   position: fixed;
   background-color: black;
   transition: all .43s ease;
   
}

#check:checked ~ .sidenav {
   left: 0;
}

#check:checked ~ label #open {
   left: 20vw;
   opacity: 0;
   pointer-events: none;
}

#check:checked ~ label #cancel {
   left: 21vw;
}

#check:checked ~ #main {
   margin-left: 20vw;
}

section#main {
   background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(https://i.postimg.cc/RVH9pNJ5/top-view-fast-food-mix-hamburger-doner-sandwich-chicken-nuggets-rice-vegetable-salad-chicken-sticks.jpg);
   background-position: center;
   background-size: cover;
   height: 100vh;
   background-repeat: no-repeat;
   transition: all .5s ease;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

section#main > div {
   text-align: start;
   padding: 10vh 10vw;
   background: linear-gradient(rgba(255,255,255,.25),rgba(255,255,255,.25));
}

section#main a {
   color: #000;
   font-size: 1.5vw;
   display: block;
   padding: 1.5vh 1vw;
   border-radius: 4px;
   font-weight: 450;
}

section#main a.active {
   background: #fff;
}
